<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tumblr1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4F4439091D0AFBCA0040E35B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F44391D1D0AFBCA0040E35B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F4439281D0AFBCA0040E35B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
